<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="widget col-md-12">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-map-marker"></i>Grand Hotel Italia, Cluj-Napoca, CJ, Romania</li>
                    <li> <i class="fa-li fa fa-calendar fa-flip-horizontal"></i>MAY 26 - MAY 27, 2016</li>
                    <li><i class="fa-li fa fa-envelope-o "></i><a href="#">info@itcamp.ro</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>