<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<header class="header-container">
    <!-- Header Top -->
    <div class="header-top">
    </div>

    <!-- main-header -->
    <div class="main-header affix">
        <!-- moblie-nav-wrapper -->
        <div class="mobile-nav-wrapper">
            <div class="container">

                <div id="logo">
                    <a href="/index.htm"><h1>ITCAMP</h1></a>
                </div>

                <!-- moblie-menu-icon -->
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Nav -->
                <nav class="main-nav mobile-menu">

                    <ul class="clearfix">
                        <li><a href="#">Home</a>
                        </li>

                        <li><a href="#">Speakers</a>
                        </li>
                        <li><a href="#">Sessions</a></li>
                        <li><a href="#">Sponsors</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header -->

<!-- Sub Banner -->
<section class="sub-banner newsection">
    <div class="container">
        <h2 class="title">Events</h2>
    </div>
</section>

<!-- Events -->
<section class="newsection">
    <div class="container">
        <h2>Welcome to ITCamp</h2>
    </div>
</section>

<!-- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="widget col-md-12">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-map-marker"></i>Grand Hotel Italia, Cluj-Napoca, CJ, Romania</li>
                    <li> <i class="fa-li fa fa-calendar fa-flip-horizontal"></i>MAY 26 - MAY 27, 2016</li>
                    <li><i class="fa-li fa fa-envelope-o "></i><a href="#">info@itcamp.ro</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>