<header class="header-container">
    <!-- Header Top -->
    <div class="header-top">
    </div>

    <!-- main-header -->
    <div class="main-header affix">
        <!-- moblie-nav-wrapper -->
        <div class="mobile-nav-wrapper">
            <div class="container">

                <div id="logo">
                    <a href="/index.htm"><h1>ITCAMP</h1></a>
                </div>

                <!-- moblie-menu-icon -->
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Nav -->
                <nav class="main-nav mobile-menu">

                    <ul class="clearfix">
                        <li><a [routerLink]="['/home']">Home</a>
                        </li>

                        <li><a [routerLink]="['/speakers']">Speakers</a>
                        </li>
                        <li><a [routerLink]="['/sessions']">Sessions</a></li>
                        <li><a [routerLink]="['/sponsors']">Sponsors</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
